body{
  background-color: darkgrey;
  display: flex;
  justify-content: center;
}
.list{
  list-style-type: disc;
  font-size: 20px;
  color: white;
  font-family:  Geneva, Verdana, sans-serif;
}
.div_2{
  width: 280px;
  
background-color: black;
  
}
input{
  padding: 7px;
  width: 200px;
  box-shadow: 5px 5px 5px gray;
}
button{
  font-size: 20px;
}
.btn{
  position: absolute;
  left: 825px;
  

}
.btn1{
  position: absolute;
  left: 900px;
  

}

